/Assignment/.idea/
/Assignment/out/

*.class

Assignment/C#/GeneticAlgorithm/\.idea/\.idea\.GeneticAlgorithm/\.idea/

Assignment/C#/GeneticAlgorithm/bin/Debug/

Assignment/C#/WineClustering/\.idea/

Assignment/C#/GeneticAlgorithm/\.idea/
